<div style="display: flex; flex-direction: row; justify-content: space-between">
        <a href={{ path('seDeconnecter') }}>Se déconnecter</a>
        <a href={{ path('consulterFicheFrais') }}>Consulter mes fiches de frais</a>
</div>